{
    "targets": [
        {
            "app_name" : "com.example.package",
            "enabled": true,
            "start_up_delay_ms": 0,
            "stage_libraries_in_app_data": true,
            "injected_libraries": [
                {
                    "path": "libgadget.so"
                }
            ],
            "child_gating": {
                "enabled": false,
                "mode": "freeze",
                "injected_libraries" : [
                    {
                        "path": "libgadget-child.so"
                    }
                ]
            }
        }
    ]
}
